<p> Hi <%= @review.user.username %>, <br/>
Your for reviewing the product <%= @review.product.name%> </p>

<h4>
					
			<%=@review.body %>

			<p> Rating :<%=@review.rating %> </p>
 </h4>
	<b> Thank you for a review with product</b>

