<h2> About Us</h2>


 
<a href="/home/index"> Home </a>

<%= link_to "Home (ror)", home_index_path %>
<!-- home_index_path returns a string "/home/index" -->
<%= link_to "Contact Us", home_contact_path %>