<h2><font color="green">Reviews</font></h2>

<%if @reviews.empty?%>
<p> No reviews found </p>
<%else%>

<% @reviews.each do |review| %>

<table> 
<td><%= review.user_id %></td>
<td><%= review.product_id%></td>
<td><%= review.body %></td> 
<td><%= review.rating%></td>
</table> 

<%end%>
<% end %>